@model IAGenerativaDemo.Web.Models.TextoViewModel

@{
    ViewData["Title"] = "Resultado - Analizador de Textos";
}

<div class="container" >
    <h2 class="text title">Resultado - Analizador de Textos</h2>
    <h5 class="text subtitle">Texto ingresado:</h5>
    <div class="textarea">@Model.Texto</div>

    @if (Model.ResultadosPartes != null && Model.ResultadosPartes.Any())
    {
        <div class="horizontal">
            <strong class="result">Formal: @($"{Model.PorcentajeFormal:0.0}%")</strong> &nbsp;&nbsp;
            <strong class="result">Informal: @($"{Model.PorcentajeInformal:0.0}%")</strong>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Frase</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var parte in Model.ResultadosPartes)
                {
                    <tr>
                        <td>@parte.Frase</td>
                        <td>
                            @if (parte.Etiqueta == "Formal")
                            {
                                <span class="text subtitle">Formal</span>
                            }
                            else
                            {
                                <span class="text subtitle">Informal</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <div class="horizontal">
        <strong class="text">Ámbito sugerido:</strong>
        <p class="text">@Model.AmbitoSugerido</p>
    </div>
    <div class="horizontal">
        <strong class="text">Estado de ánimo detectado:</strong>
        <p class="text">@Model.ResultadoEstadoAnimo</p>
    </div>

    <a href="@Url.Action("AnalizadorTextos", "Texto")" class="back">Volver</a>
    <a href="@Url.Action("Index", "Home")" class="back">Ir al Inicio</a>
</div>

<link rel="stylesheet" href="~/css/index.css" />
